.addButtonContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin:unset;
    margin: 8px;
    border-radius: 3px;
}

.Card {
    color: black;
    min-width: 272px;
    height: 40px;
}

.List {
    color: white;
    align-items: flex-start;
    background-color: rgb(0, 0, 0, 0.15);
    min-width: 272px;
    height: 40px;
}


.Board {
    align-self: flex-start;
    min-width: 50px;
    height: 40px;
}

.addFormContainer {
    width: 272px;
    margin: 8px;
    min-height:80px;
    padding: 6px 6px 2px;
    overflow: hidden;
}

.formTextArea {
    height: 100%;
    width: 100%;
    border : 0;
    outline :0;
    resize: none;
}
