.BoardContainer{ 
    display:flex;
    flex-direction: row;
}

.App {
    margin: 8px;
    color: rgb(238, 192, 64);
}

.appBar {
    display: flex;
    height: 30px;
    color:white;
    font-size: larger;
    margin: 20px;
    letter-spacing: 1px;
}

.mainApp {
    display: flex;
    flex-direction: row;
}

.tabsPanel {
    color: white;
}

@media screen and (max-width: 1200px) {
    .BoardContainer{ 
        display: block;
        width: 50%;
        margin: auto;
        justify-content: center;
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .BoardContainer{ 
        display: block;
        /* flex-direction: column; */
        width: 85%;
        margin: auto;
        justify-content: center;
        margin-left: auto;
    }
}