.BoardContainer{ 
    display:flex;
    flex-direction: row;
}

.App {
    margin: 8px;
}

@media screen and (max-width: 1200px) {
    .BoardContainer{ 
        display: block;
        width: 50%;
        margin: auto;
        justify-content: center;
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .BoardContainer{ 
        display: block;
        /* flex-direction: column; */
        width: 85%;
        margin: auto;
        justify-content: center;
        margin-left: auto;
    }
}